body {
    animation: gradient 5s ease infinite;
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 400% 400%;
    
}

.options {
    background: gray;
    width: 200px;
    height: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 30px;
}

label {
    text-shadow: 1px;
    font-size: medium;
}

input {
    border-radius: 30px;
}
input:hover {
    background-color: white;
    border-color: skyblue;
}

button {
    border-radius: 10px;
    background-color: white;
    border-color: black;
}

button:hover {
    background-color: white;
    border-color: skyblue;
}

.container {
    display: flex;
    justify-content: center;
    background-color: gray;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
h1 {
    align-items: center;
    text-align: center;
    border: 1px;
    border-color: black;
}

.container2 {
    margin-left: auto;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-right: auto;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn2 {
    font-size: 20px;
    border-radius: 15px;
    font-style: italic;
    cursor: pointer;
}